body {
    font-family: "Helvetica Neue", sans-serif;
    background-color: #e3e3e3;
    margin: 0;
}

h1 {
    display: block;
    text-align: left;
    color: #ffbd2d;
    margin: 20px 15px ;

}
input {
    font-family: "Helvetica Neue", sans-serif;
}

input.btn {
    background-color: transparent;
    border: 1px solid #494949;
    border-radius: 2px;
    color: #494949;
    margin: 2px;
    padding: 2px;
}

input.btn:hover {
    background-color: #494949;
    color: #fbfbfb;
}

input.btn:active {
    background-color: #2a2a2a;
}

input:focus {
    outline: none;
}

input.txt {
    padding: 2px;
    margin: 2px;
    border: 1px solid #a3a3a3;
    border-radius: 2px;
    color: #a3a3a3;
}

#content {
    display: block;
    margin: 20px;
}
#Upgrades {
    margin: 20px;
}
#Cookie {
    width: 148px;
    height: 148px;
    background-image: url('../images/cookie.png');
    cursor: pointer;
    border-radius: 70%;
    background-size: 148px;
    background-repeat: no-repeat;
}
#DisplayCookie {
    display: block;
    text-align: left;
    height: 100px;

}
#Warnings {
    color: red;
    height: 30px;
}
.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
.navigation li {
    float: left;
}
.navigation li a {
    display: block;
    color: #d67e48;
    padding: 28px 16px;
    text-decoration: none;
}
.navigation li a:hover:not(.active) {
    background-color: #f1b848;
}
.active {
    background-color: #ffbd2d;
}
